.navbar > .container, .navbar > .container-fluid, .navbar > .container-sm, .navbar > .container-md, .navbar > .container-lg, .navbar > .container-xl, .navbar > .container-xxl {
  display: flex;
    flex-wrap: inherit;

    justify-content: center;
}
.fwsa-notes{
  line-height: 25px;
  // box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  padding: 10px;
}
.fwsa-sub-notes{
  line-height: 15px;
}
#company-name{
  font-size:27px;
  color:#0b1320;
 }
 @media only screen and (max-width: 600px) {
  #company-name{
    font-size:18px;
    color:#0b1320;
   }
}
