<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid text-center">
    <a class="navbar-brand text-center" href="/"><img style="width: 29px;position: relative;left: -6px;top: -3px;" src="logo-2.png"><strong>Freshworks Software Academy</strong></a>
  </div>
</nav>

<div class="container mt-4 ">
<h3 class="text-center">The following are points to note before you appear for FSAT:</h3>
<ol>
  <li class="fwsa-notes">Please ensure you have access to a laptop/PC with a working camera/mic and stable internet connection (browsing centres are fine). Avoid taking the test on a smartphone. </li>
  <li class="fwsa-notes">Do remember to carry with you a pen/pencil and paper to work out calculations, if needed.</li>
  <li class="fwsa-notes">The pattern of the examination will be as follows:</li>
  <ol type="A">
    <li class="fwsa-notes fwsa-sub-notes">Mathematics and Logical Reasoning (40 min) - Both in English and Tamil.</li>
    <li class="fwsa-notes fwsa-sub-notes">Communication (20 min) - You will be tested on basic English and the ability to express.</li>
  </ol>
  <li class="fwsa-notes">The online examination link will be sent to you closer to the time of the examination.</li>
  <li class="fwsa-notes">To access some sample questions of FSAT, <a href="https://drive.google.com/file/d/1k2PTb8yrnAbosJEt8dGUKb0_nUQMAj_W/view">click here.</a></li>
  <li class="fwsa-notes">We have zero tolerance for malpractice during FSAT. The test taker will be subject to strict monitoring - as part of this, your image/video will be captured by the test tool. Please keep in mind to also not switch between tabs/applications during the course of FSAT as it will lead to immediate disqualification.</li>
</ol>
<p style="margin-bottom: 3rem;">Submit the simple form below before 5 pm IST, 7 Aug 2021 to confirm that you have read the above points (prerequisites) and will be appearing for  <a href="https://forms.gle/i7do4wXPfNSswHHn8">FSAT-Apply</a>
, For further details, please visit <a href="https://www.freshworks.com/company/philanthropy/software-academy/">Freshwork Software Academy</a>  (or) email us at  <a href="admissions@fwsa.freshworks.com">admissions@fwsa.freshworks.com</a></p>
</div>
